<h1 class="text-3xl">Precios del servicio</h1>

<hr class="my-2">

<section>
    <p class="mb-4">
        Deserunt commodo nulla ex magna reprehenderit aute. Ut mollit aliquip et laboris in est. Quis officia ad anim veniam ad sunt minim voluptate aliqua. Consequat magna amet cupidatat enim aliquip amet esse occaecat ea occaecat enim Lorem. Magna enim excepteur officia ex eu consequat eu velit ea pariatur. Culpa aliqua irure tempor sit ad occaecat laboris aliquip commodo reprehenderit do.
        Culpa mollit est ex voluptate tempor consectetur dolore Lorem do officia. Ea dolore qui enim deserunt. Cupidatat qui velit laboris quis. Duis occaecat quis adipisicing ut nulla ullamco. Veniam dolore veniam pariatur nulla anim tempor sint consequat quis.
    </p>
</section>
