<h1 class="text-3xl">Sobre la aplicación</h1>

<hr class="my-2">

<section>
    <p class="mb-4">
        Adipisicing occaecat nulla qui cillum aute sit cillum. Esse excepteur ipsum consectetur eu veniam dolor consequat consectetur. Excepteur dolore occaecat duis nulla. Dolore nulla in excepteur enim et labore. Occaecat veniam et anim reprehenderit laborum minim. Officia adipisicing magna sunt cillum elit reprehenderit est. Aliqua exercitation dolore fugiat aliqua magna Lorem eiusmod.
        Elit aute tempor aliqua labore nostrud ea adipisicing nulla anim. Cupidatat pariatur exercitation et dolore mollit reprehenderit pariatur officia exercitation ut. Nulla adipisicing mollit dolore nostrud tempor id cillum tempor. Et do nulla ad minim aliqua et culpa laborum sint. Anim ipsum id proident eu sint qui duis amet aute adipisicing et. In exercitation aliqua nostrud irure eu incididunt excepteur.
    </p>
</section>
